body{
    height: 100vh;
    background-image: url("../images/question-mark-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.incorrect{
    color:red;
    text-decoration: line-through;
}
.correct{
    color:green;
}
.btn{
    width: 90%;
    white-space: normal;
}
.row{
    display: inline-block;
    height: 100vh;
    background-color: lightsalmon;
    opacity: .75;
}

.col-md-12{
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

div{
    max-width:360px;
    text-align:center;
    
}

#timer, #question, #title, .correctAnswers{
    text-align: left;
}

